body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:702px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:383px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u638 {
  position:absolute;
  left:73px;
  top:29px;
  width:629px;
  height:383px;
}
#u639 {
  position:absolute;
  left:2px;
  top:184px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:268px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u640 {
  position:absolute;
  left:121px;
  top:104px;
  width:539px;
  height:268px;
}
#u641 {
  position:absolute;
  left:2px;
  top:126px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u642 {
  position:absolute;
  left:121px;
  top:75px;
  width:539px;
  height:30px;
  text-align:left;
}
#u643 {
  position:absolute;
  left:2px;
  top:7px;
  width:535px;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u644 {
  position:absolute;
  left:621px;
  top:82px;
  width:33px;
  height:16px;
  text-align:center;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u646 {
  position:absolute;
  left:133px;
  top:115px;
  width:507px;
  height:125px;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u648 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u649 {
  position:absolute;
  left:40px;
  top:0px;
  width:180px;
  height:30px;
  text-align:left;
}
#u650 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
}
#u651 {
  position:absolute;
  left:220px;
  top:0px;
  width:222px;
  height:30px;
  text-align:left;
}
#u652 {
  position:absolute;
  left:2px;
  top:7px;
  width:218px;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u653 {
  position:absolute;
  left:442px;
  top:0px;
  width:60px;
  height:30px;
}
#u654 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u655 {
  position:absolute;
  left:0px;
  top:30px;
  width:40px;
  height:30px;
}
#u656 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u657 {
  position:absolute;
  left:40px;
  top:30px;
  width:180px;
  height:30px;
  text-align:left;
}
#u658 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
}
#u659 {
  position:absolute;
  left:220px;
  top:30px;
  width:222px;
  height:30px;
  text-align:left;
}
#u660 {
  position:absolute;
  left:2px;
  top:7px;
  width:218px;
  word-wrap:break-word;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u661 {
  position:absolute;
  left:442px;
  top:30px;
  width:60px;
  height:30px;
  text-decoration:underline;
  color:#008000;
}
#u662 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u663 {
  position:absolute;
  left:0px;
  top:60px;
  width:40px;
  height:30px;
}
#u664 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u665 {
  position:absolute;
  left:40px;
  top:60px;
  width:180px;
  height:30px;
  text-align:left;
}
#u666 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
}
#u667 {
  position:absolute;
  left:220px;
  top:60px;
  width:222px;
  height:30px;
  text-align:left;
}
#u668 {
  position:absolute;
  left:2px;
  top:7px;
  width:218px;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u669 {
  position:absolute;
  left:442px;
  top:60px;
  width:60px;
  height:30px;
  text-decoration:underline;
  color:#008000;
}
#u670 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u671 {
  position:absolute;
  left:0px;
  top:90px;
  width:40px;
  height:30px;
}
#u672 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u673 {
  position:absolute;
  left:40px;
  top:90px;
  width:180px;
  height:30px;
  text-align:left;
}
#u674 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
}
#u675 {
  position:absolute;
  left:220px;
  top:90px;
  width:222px;
  height:30px;
  text-align:left;
}
#u676 {
  position:absolute;
  left:2px;
  top:7px;
  width:218px;
  word-wrap:break-word;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u677 {
  position:absolute;
  left:442px;
  top:90px;
  width:60px;
  height:30px;
  text-decoration:underline;
  color:#008000;
}
#u678 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679 {
  position:absolute;
  left:583px;
  top:154px;
  width:48px;
  height:16px;
}
#u680 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u679_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u681 {
  position:absolute;
  left:583px;
  top:183px;
  width:48px;
  height:16px;
}
#u682 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u681_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u683 {
  position:absolute;
  left:583px;
  top:212px;
  width:48px;
  height:16px;
}
#u684 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u683_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  position:absolute;
  left:395px;
  top:280px;
  width:85px;
  height:32px;
}
#u686 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  position:absolute;
  left:269px;
  top:280px;
  width:85px;
  height:32px;
}
#u688 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
