body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1142px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:28px;
  top:40px;
  width:1150px;
  height:1056px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u3 {
  position:absolute;
  left:180px;
  top:0px;
  width:171px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u5 {
  position:absolute;
  left:351px;
  top:0px;
  width:200px;
  height:30px;
  font-size:14px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u7 {
  position:absolute;
  left:551px;
  top:0px;
  width:248px;
  height:30px;
  font-size:14px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:244px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u9 {
  position:absolute;
  left:799px;
  top:0px;
  width:185px;
  height:30px;
  font-size:14px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u11 {
  position:absolute;
  left:984px;
  top:0px;
  width:161px;
  height:30px;
  font-size:14px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1021px;
}
#u13 {
  position:absolute;
  left:0px;
  top:30px;
  width:180px;
  height:1021px;
}
#u14 {
  position:absolute;
  left:2px;
  top:502px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:1021px;
}
#u15 {
  position:absolute;
  left:180px;
  top:30px;
  width:171px;
  height:1021px;
}
#u16 {
  position:absolute;
  left:2px;
  top:502px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1021px;
}
#u17 {
  position:absolute;
  left:351px;
  top:30px;
  width:200px;
  height:1021px;
}
#u18 {
  position:absolute;
  left:2px;
  top:502px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:1021px;
}
#u19 {
  position:absolute;
  left:551px;
  top:30px;
  width:248px;
  height:1021px;
}
#u20 {
  position:absolute;
  left:2px;
  top:502px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:1021px;
}
#u21 {
  position:absolute;
  left:799px;
  top:30px;
  width:185px;
  height:1021px;
}
#u22 {
  position:absolute;
  left:2px;
  top:502px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:1021px;
}
#u23 {
  position:absolute;
  left:984px;
  top:30px;
  width:161px;
  height:1021px;
}
#u24 {
  position:absolute;
  left:2px;
  top:502px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:101px;
}
#u25 {
  position:absolute;
  left:213px;
  top:130px;
  width:353px;
  height:101px;
}
#u26 {
  position:absolute;
  left:2px;
  top:42px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:219px;
  top:140px;
  width:133px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:401px;
  top:140px;
  width:154px;
  height:35px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:638px;
  top:140px;
  width:62px;
  height:35px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:688px;
  top:221px;
  width:134px;
  height:35px;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u35 {
  position:absolute;
  left:686px;
  top:287px;
  width:134px;
  height:56px;
  color:#FFFFFF;
  text-align:left;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u37 {
  position:absolute;
  left:863px;
  top:384px;
  width:189px;
  height:27px;
  color:#FFFFFF;
  text-align:left;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u39 {
  position:absolute;
  left:1025px;
  top:425px;
  width:140px;
  height:31px;
  text-align:left;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:57px;
  top:395px;
  width:133px;
  height:35px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:47px;
  top:557px;
  width:153px;
  height:35px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u45 {
  position:absolute;
  left:686px;
  top:775px;
  width:134px;
  height:38px;
  color:#FFFFFF;
  text-align:left;
}
#u46 {
  position:absolute;
  left:2px;
  top:3px;
  width:130px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:686px;
  top:729px;
  width:134px;
  height:33px;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:632px;
  top:823px;
  width:113px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:82px;
}
#u51 {
  position:absolute;
  left:60px;
  top:713px;
  width:128px;
  height:82px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:2px;
  top:33px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:508px;
  height:21px;
}
#u53p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:500px;
  height:1px;
}
#u53p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:510px;
  height:21px;
}
#u53p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u53p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u53p002 {
  position:absolute;
  left:484px;
  top:-11px;
  width:22px;
  height:22px;
}
#u53p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u53.compound {
  width:0px;
  height:0px;
}
#u53 {
  position:absolute;
  left:188px;
  top:742px;
  width:498px;
  height:1px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-8px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:508px;
  height:21px;
}
#u55p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:500px;
  height:1px;
}
#u55p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:510px;
  height:21px;
}
#u55p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u55p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u55p002 {
  position:absolute;
  left:484px;
  top:-11px;
  width:22px;
  height:22px;
}
#u55p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u55.compound {
  width:0px;
  height:0px;
}
#u55 {
  position:absolute;
  left:188px;
  top:789px;
  width:498px;
  height:1px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-8px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:37px;
  top:932px;
  width:151px;
  height:35px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:401px;
  top:190px;
  width:154px;
  height:35px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:63px;
}
#u61 {
  position:absolute;
  left:711px;
  top:390px;
  width:83px;
  height:63px;
  color:#FFFFFF;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:79px;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u63 {
  position:absolute;
  left:863px;
  top:429px;
  width:125px;
  height:27px;
  color:#FFFFFF;
  text-align:left;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:352px;
  top:158px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u65_seg1 {
  position:absolute;
  left:36px;
  top:-10px;
  width:20px;
  height:20px;
}
#u66 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:219px;
  top:190px;
  width:133px;
  height:35px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:352px;
  top:208px;
  width:0px;
  height:0px;
}
#u69_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u69_seg1 {
  position:absolute;
  left:36px;
  top:-10px;
  width:20px;
  height:20px;
}
#u70 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:669px;
  top:175px;
  width:0px;
  height:0px;
}
#u71_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u71_seg1 {
  position:absolute;
  left:-4px;
  top:136px;
  width:21px;
  height:8px;
}
#u71_seg2 {
  position:absolute;
  left:4px;
  top:130px;
  width:20px;
  height:20px;
}
#u72 {
  position:absolute;
  left:-50px;
  top:70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:753px;
  top:343px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u73_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u74 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:82px;
  height:21px;
}
#u75p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:74px;
  height:1px;
}
#u75p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:84px;
  height:21px;
}
#u75p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u75p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u75p002 {
  position:absolute;
  left:58px;
  top:-11px;
  width:22px;
  height:22px;
}
#u75p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u75.compound {
  width:0px;
  height:0px;
}
#u75 {
  position:absolute;
  left:794px;
  top:400px;
  width:72px;
  height:1px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:82px;
  height:21px;
}
#u77p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:74px;
  height:1px;
}
#u77p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:84px;
  height:21px;
}
#u77p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u77p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u77p002 {
  position:absolute;
  left:58px;
  top:-11px;
  width:22px;
  height:22px;
}
#u77p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u77.compound {
  width:0px;
  height:0px;
}
#u77 {
  position:absolute;
  left:794px;
  top:442px;
  width:72px;
  height:1px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u79 {
  position:absolute;
  left:686px;
  top:489px;
  width:134px;
  height:56px;
  color:#FFFFFF;
  text-align:left;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:820px;
  top:517px;
  width:0px;
  height:0px;
}
#u81_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:194px;
  height:8px;
}
#u81_seg1 {
  position:absolute;
  left:186px;
  top:-80px;
  width:8px;
  height:84px;
}
#u81_seg2 {
  position:absolute;
  left:186px;
  top:-80px;
  width:19px;
  height:8px;
}
#u81_seg3 {
  position:absolute;
  left:192px;
  top:-86px;
  width:20px;
  height:20px;
}
#u82 {
  position:absolute;
  left:90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:817px;
  top:393px;
  width:29px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:810px;
  top:435px;
  width:43px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u87 {
  position:absolute;
  left:385px;
  top:732px;
  width:92px;
  height:16px;
  text-align:center;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u89 {
  position:absolute;
  left:392px;
  top:782px;
  width:79px;
  height:16px;
  text-align:center;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u91 {
  position:absolute;
  left:57px;
  top:384px;
  width:23px;
  height:23px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u93 {
  position:absolute;
  left:49px;
  top:541px;
  width:23px;
  height:23px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u95 {
  position:absolute;
  left:37px;
  top:918px;
  width:23px;
  height:23px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u97 {
  position:absolute;
  left:686px;
  top:716px;
  width:23px;
  height:23px;
}
#u98 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u99 {
  position:absolute;
  left:682px;
  top:757px;
  width:23px;
  height:23px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u101 {
  position:absolute;
  left:219px;
  top:130px;
  width:23px;
  height:23px;
}
#u102 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u103 {
  position:absolute;
  left:219px;
  top:185px;
  width:23px;
  height:23px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u105 {
  position:absolute;
  left:396px;
  top:130px;
  width:23px;
  height:23px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u107 {
  position:absolute;
  left:396px;
  top:185px;
  width:23px;
  height:23px;
}
#u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u109 {
  position:absolute;
  left:686px;
  top:130px;
  width:23px;
  height:23px;
}
#u110 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u111 {
  position:absolute;
  left:677px;
  top:266px;
  width:23px;
  height:23px;
}
#u112 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u113 {
  position:absolute;
  left:697px;
  top:378px;
  width:23px;
  height:23px;
}
#u114 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u115 {
  position:absolute;
  left:686px;
  top:476px;
  width:23px;
  height:23px;
}
#u116 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u117 {
  position:absolute;
  left:688px;
  top:207px;
  width:23px;
  height:23px;
}
#u118 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u119 {
  position:absolute;
  left:1018px;
  top:413px;
  width:23px;
  height:23px;
}
#u120 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u121 {
  position:absolute;
  left:856px;
  top:367px;
  width:23px;
  height:23px;
}
#u122 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u123 {
  position:absolute;
  left:856px;
  top:411px;
  width:23px;
  height:23px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u125 {
  position:absolute;
  left:713px;
  top:111px;
  width:141px;
  height:56px;
  color:#FFFFFF;
  text-align:left;
}
#u126 {
  position:absolute;
  left:2px;
  top:4px;
  width:137px;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u127 {
  position:absolute;
  left:1025px;
  top:573px;
  width:140px;
  height:31px;
  text-align:left;
}
#u128 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  position:absolute;
  left:57px;
  top:307px;
  width:133px;
  height:35px;
}
#u130 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u131 {
  position:absolute;
  left:57px;
  top:296px;
  width:23px;
  height:23px;
}
#u132 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1025px;
  top:589px;
  width:0px;
  height:0px;
}
#u133_seg0 {
  position:absolute;
  left:-570px;
  top:-4px;
  width:570px;
  height:8px;
}
#u133_seg1 {
  position:absolute;
  left:-570px;
  top:-268px;
  width:8px;
  height:272px;
}
#u133_seg2 {
  position:absolute;
  left:-835px;
  top:-268px;
  width:273px;
  height:8px;
}
#u133_seg3 {
  position:absolute;
  left:-842px;
  top:-274px;
  width:20px;
  height:20px;
}
#u134 {
  position:absolute;
  left:-600px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:fixed;
  left:0px;
  top:0px;
}
#u135_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u135_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:29px;
  top:0px;
  width:1143px;
  height:40px;
}
#u137 {
  position:absolute;
  left:2px;
  top:12px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  position:absolute;
  left:73px;
  top:14px;
  width:85px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u140 {
  position:absolute;
  left:206px;
  top:9px;
  width:23px;
  height:23px;
}
#u141 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:241px;
  top:14px;
  width:85px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u144 {
  position:absolute;
  left:370px;
  top:9px;
  width:23px;
  height:23px;
}
#u145 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  position:absolute;
  left:405px;
  top:14px;
  width:85px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:27px;
  top:40px;
  width:1150px;
  height:35px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u151 {
  position:absolute;
  left:180px;
  top:0px;
  width:171px;
  height:30px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u153 {
  position:absolute;
  left:351px;
  top:0px;
  width:200px;
  height:30px;
  font-size:14px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u155 {
  position:absolute;
  left:551px;
  top:0px;
  width:248px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u156 {
  position:absolute;
  left:2px;
  top:7px;
  width:244px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u157 {
  position:absolute;
  left:799px;
  top:0px;
  width:185px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u159 {
  position:absolute;
  left:984px;
  top:0px;
  width:161px;
  height:30px;
  font-size:14px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:108px;
  height:22px;
}
#u161p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:90px;
  height:2px;
}
#u161p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:110px;
  height:22px;
}
#u161p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u161p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u161p002 {
  position:absolute;
  left:73px;
  top:-10px;
  width:22px;
  height:22px;
}
#u161p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u161.compound {
  width:0px;
  height:0px;
}
#u161 {
  position:absolute;
  left:990px;
  top:55px;
  width:88px;
  height:2px;
}
#u162 {
  position:absolute;
  left:2px;
  top:-7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:132px;
  height:22px;
}
#u163p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:114px;
  height:2px;
}
#u163p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:134px;
  height:22px;
}
#u163p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u163p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u163p002 {
  position:absolute;
  left:98px;
  top:-10px;
  width:22px;
  height:22px;
}
#u163p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u163.compound {
  width:0px;
  height:0px;
}
#u163 {
  position:absolute;
  left:331px;
  top:56px;
  width:112px;
  height:2px;
}
#u164 {
  position:absolute;
  left:2px;
  top:-7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u165 {
  position:absolute;
  left:38px;
  top:9px;
  width:23px;
  height:23px;
}
#u166 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:70px;
}
#u168 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u169 {
  position:absolute;
  left:1018px;
  top:557px;
  width:23px;
  height:23px;
}
#u170 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:669px;
  top:175px;
  width:0px;
  height:0px;
}
#u171_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u171_seg1 {
  position:absolute;
  left:-4px;
  top:60px;
  width:23px;
  height:8px;
}
#u171_seg2 {
  position:absolute;
  left:6px;
  top:54px;
  width:20px;
  height:20px;
}
#u172 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:669px;
  top:175px;
  width:0px;
  height:0px;
}
#u173_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:346px;
}
#u173_seg1 {
  position:absolute;
  left:-4px;
  top:338px;
  width:21px;
  height:8px;
}
#u173_seg2 {
  position:absolute;
  left:4px;
  top:332px;
  width:20px;
  height:20px;
}
#u174 {
  position:absolute;
  left:-50px;
  top:172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  position:absolute;
  left:57px;
  top:470px;
  width:133px;
  height:35px;
}
#u176 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u177 {
  position:absolute;
  left:47px;
  top:457px;
  width:23px;
  height:23px;
}
#u178 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:124px;
  top:342px;
  width:0px;
  height:0px;
}
#u179_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u179_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u180 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:124px;
  top:430px;
  width:0px;
  height:0px;
}
#u181_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u181_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u182 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:124px;
  top:505px;
  width:0px;
  height:0px;
}
#u183_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u183_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u184 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185 {
  position:absolute;
  left:1025px;
  top:656px;
  width:140px;
  height:31px;
}
#u186 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  position:absolute;
  left:1033px;
  top:697px;
  width:127px;
  height:16px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  position:absolute;
  left:1033px;
  top:722px;
  width:127px;
  height:16px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u191 {
  position:absolute;
  left:190px;
  top:488px;
  width:0px;
  height:0px;
}
#u191_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u191_seg1 {
  position:absolute;
  left:87px;
  top:-4px;
  width:8px;
  height:192px;
}
#u191_seg2 {
  position:absolute;
  left:87px;
  top:180px;
  width:748px;
  height:8px;
}
#u191_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u192 {
  position:absolute;
  left:276px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u193 {
  position:absolute;
  left:1018px;
  top:642px;
  width:23px;
  height:23px;
}
#u194 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  position:absolute;
  left:1026px;
  top:934px;
  width:140px;
  height:31px;
}
#u196 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u197 {
  position:absolute;
  left:1019px;
  top:915px;
  width:23px;
  height:23px;
}
#u198 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199 {
  position:absolute;
  left:37px;
  top:1048px;
  width:151px;
  height:35px;
}
#u200 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u201 {
  position:absolute;
  left:37px;
  top:1038px;
  width:23px;
  height:23px;
}
#u202 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:188px;
  top:950px;
  width:0px;
  height:0px;
}
#u203_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:842px;
  height:8px;
}
#u203_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u204 {
  position:absolute;
  left:369px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u205 {
  position:absolute;
  left:1119px;
  top:748px;
  width:13px;
  height:16px;
  text-align:center;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  position:absolute;
  left:1021px;
  top:612px;
  width:141px;
  height:16px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u209 {
  position:absolute;
  left:1052px;
  top:398px;
  width:0px;
  height:0px;
}
#u209_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u209_seg1 {
  position:absolute;
  left:39px;
  top:-4px;
  width:8px;
  height:31px;
}
#u209_seg2 {
  position:absolute;
  left:33px;
  top:14px;
  width:20px;
  height:20px;
}
#u210 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u211 {
  position:absolute;
  left:251px;
  top:80px;
  width:70px;
  height:29px;
  color:#FFFFFF;
}
#u212 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:286px;
  top:109px;
  width:0px;
  height:0px;
}
#u213_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u213_seg1 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u214 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:23px;
}
#u215 {
  position:absolute;
  left:60px;
  top:713px;
  width:128px;
  height:23px;
}
#u216 {
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u217 {
  position:absolute;
  left:60px;
  top:703px;
  width:23px;
  height:23px;
}
#u218 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u219 {
  position:absolute;
  left:64px;
  top:757px;
  width:121px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:124px;
  top:592px;
  width:0px;
  height:0px;
}
#u221_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:125px;
}
#u221_seg1 {
  position:absolute;
  left:-10px;
  top:108px;
  width:20px;
  height:20px;
}
#u222 {
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:753px;
  top:813px;
  width:0px;
  height:0px;
}
#u223_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u223_seg1 {
  position:absolute;
  left:-644px;
  top:49px;
  width:648px;
  height:8px;
}
#u223_seg2 {
  position:absolute;
  left:-644px;
  top:49px;
  width:8px;
  height:70px;
}
#u223_seg3 {
  position:absolute;
  left:-650px;
  top:106px;
  width:20px;
  height:20px;
}
#u224 {
  position:absolute;
  left:-376px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:753px;
  top:729px;
  width:0px;
  height:0px;
}
#u225_seg0 {
  position:absolute;
  left:-4px;
  top:-27px;
  width:8px;
  height:27px;
}
#u225_seg1 {
  position:absolute;
  left:-520px;
  top:-27px;
  width:524px;
  height:8px;
}
#u225_seg2 {
  position:absolute;
  left:-520px;
  top:-158px;
  width:8px;
  height:139px;
}
#u225_seg3 {
  position:absolute;
  left:-553px;
  top:-158px;
  width:41px;
  height:8px;
}
#u225_seg4 {
  position:absolute;
  left:-560px;
  top:-164px;
  width:20px;
  height:20px;
}
#u226 {
  position:absolute;
  left:-380px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u227 {
  position:absolute;
  left:0px;
  top:541px;
  width:29px;
  height:550px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u228 {
  position:absolute;
  left:2px;
  top:220px;
  width:25px;
  word-wrap:break-word;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u229 {
  position:absolute;
  left:0px;
  top:70px;
  width:29px;
  height:471px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u230 {
  position:absolute;
  left:2px;
  top:180px;
  width:25px;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:47px;
  height:5px;
}
#u231 {
  position:absolute;
  left:-31px;
  top:540px;
  width:44px;
  height:2px;
}
#u232 {
  position:absolute;
  left:2px;
  top:-7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:113px;
  top:967px;
  width:0px;
  height:0px;
}
#u233_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u233_seg1 {
  position:absolute;
  left:-10px;
  top:68px;
  width:20px;
  height:20px;
}
#u234 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  position:absolute;
  left:850px;
  top:778px;
  width:140px;
  height:31px;
}
#u236 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:820px;
  top:794px;
  width:0px;
  height:0px;
}
#u237_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u237_seg1 {
  position:absolute;
  left:17px;
  top:-10px;
  width:20px;
  height:20px;
}
#u238 {
  position:absolute;
  left:-35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u239 {
  position:absolute;
  left:843px;
  top:767px;
  width:23px;
  height:23px;
}
#u240 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  position:absolute;
  left:1023px;
  top:778px;
  width:140px;
  height:31px;
}
#u242 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u243 {
  position:absolute;
  left:1016px;
  top:764px;
  width:23px;
  height:23px;
}
#u244 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:990px;
  top:794px;
  width:0px;
  height:0px;
}
#u245_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:37px;
  height:8px;
}
#u245_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u246 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  position:absolute;
  left:861px;
  top:223px;
  width:140px;
  height:31px;
}
#u248 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u249 {
  position:absolute;
  left:859px;
  top:210px;
  width:23px;
  height:23px;
}
#u250 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:822px;
  top:239px;
  width:0px;
  height:0px;
}
#u251_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u251_seg1 {
  position:absolute;
  left:26px;
  top:-10px;
  width:20px;
  height:20px;
}
#u252 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u253 {
  position:absolute;
  left:856px;
  top:271px;
  width:146px;
  height:48px;
  color:#FF0000;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u255 {
  position:absolute;
  left:856px;
  top:823px;
  width:146px;
  height:48px;
  color:#FF0000;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u257 {
  position:absolute;
  left:638px;
  top:85px;
  width:62px;
  height:35px;
  color:#FFFFFF;
}
#u258 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:638px;
  top:103px;
  width:0px;
  height:0px;
}
#u259_seg0 {
  position:absolute;
  left:-156px;
  top:-4px;
  width:156px;
  height:8px;
}
#u259_seg1 {
  position:absolute;
  left:-156px;
  top:-4px;
  width:8px;
  height:30px;
}
#u259_seg2 {
  position:absolute;
  left:-162px;
  top:13px;
  width:20px;
  height:20px;
}
#u260 {
  position:absolute;
  left:-139px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:638px;
  top:158px;
  width:0px;
  height:0px;
}
#u261_seg0 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:78px;
  height:8px;
}
#u261_seg1 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u262 {
  position:absolute;
  left:-87px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u263 {
  position:absolute;
  left:1034px;
  top:489px;
  width:122px;
  height:31px;
  text-align:left;
}
#u264 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u265 {
  position:absolute;
  left:1025px;
  top:476px;
  width:23px;
  height:23px;
}
#u266 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:1095px;
  top:456px;
  width:0px;
  height:0px;
}
#u267_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u267_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u268 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:1095px;
  top:520px;
  width:0px;
  height:0px;
}
#u269_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u269_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u270 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  position:absolute;
  left:1049px;
  top:223px;
  width:93px;
  height:31px;
}
#u272 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:1049px;
  top:239px;
  width:0px;
  height:0px;
}
#u273_seg0 {
  position:absolute;
  left:-48px;
  top:-4px;
  width:52px;
  height:8px;
}
#u273_seg1 {
  position:absolute;
  left:-55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u274 {
  position:absolute;
  left:-74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u275 {
  position:absolute;
  left:1040px;
  top:207px;
  width:23px;
  height:23px;
}
#u276 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
