body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:868px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:624px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:22px;
  top:8px;
  width:375px;
  height:624px;
}
#u957 {
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:322px;
  top:22px;
  width:1px;
  height:16px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u960 {
  position:absolute;
  left:22px;
  top:8px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u961 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u962 {
  position:absolute;
  left:146px;
  top:42px;
  width:106px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u963 {
  position:absolute;
  left:2px;
  top:-2px;
  width:102px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u964 {
  position:absolute;
  left:22px;
  top:8px;
  width:375px;
  height:20px;
}
#u965 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u966 {
  position:absolute;
  left:22px;
  top:71px;
  width:375px;
  height:1px;
}
#u967 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u968 {
  position:absolute;
  left:36px;
  top:40px;
  width:12px;
  height:20px;
}
#u969 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u970 {
  position:absolute;
  left:37px;
  top:192px;
  width:345px;
  height:40px;
  text-align:left;
}
#u971 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u972 {
  position:absolute;
  left:38px;
  top:232px;
  width:345px;
  height:40px;
  text-align:left;
}
#u973 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u974 {
  position:absolute;
  left:38px;
  top:272px;
  width:345px;
  height:40px;
  text-align:left;
}
#u975 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u976 {
  position:absolute;
  left:38px;
  top:312px;
  width:345px;
  height:40px;
  text-align:left;
}
#u977 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u978 {
  position:absolute;
  left:210px;
  top:583px;
  width:188px;
  height:49px;
  color:#FFFFFF;
}
#u979 {
  position:absolute;
  left:2px;
  top:16px;
  width:184px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 153, 153, 0.858823529411765);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u980 {
  position:absolute;
  left:22px;
  top:583px;
  width:188px;
  height:49px;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:2px;
  top:16px;
  width:184px;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u982 {
  position:absolute;
  left:37px;
  top:382px;
  width:345px;
  height:40px;
  text-align:left;
}
#u983 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF8080;
}
#u984 {
  position:absolute;
  left:309px;
  top:394px;
  width:59px;
  height:16px;
  color:#FF8080;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u986 {
  position:absolute;
  left:38px;
  top:432px;
  width:330px;
  height:16px;
  font-size:13px;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  white-space:nowrap;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u988 {
  position:absolute;
  left:37px;
  top:82px;
  width:345px;
  height:87px;
  text-align:left;
}
#u989 {
  position:absolute;
  left:2px;
  top:36px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:45px;
  top:99px;
  width:215px;
  height:16px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  position:absolute;
  left:45px;
  top:136px;
  width:209px;
  height:16px;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994 {
  position:absolute;
  left:513px;
  top:211px;
  width:355px;
  height:162px;
}
#u995 {
  position:absolute;
  left:2px;
  top:73px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u996 {
  position:absolute;
  left:650px;
  top:241px;
  width:65px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u998 {
  position:absolute;
  left:552px;
  top:269px;
  width:294px;
  height:48px;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1000 {
  position:absolute;
  left:637px;
  top:327px;
  width:125px;
  height:32px;
  color:#FFFFFF;
}
#u1001 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
