body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1257px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1207px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:50px;
  top:50px;
  width:1207px;
  height:75px;
}
#u886 {
  position:absolute;
  left:2px;
  top:30px;
  width:1203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u887 {
  position:absolute;
  left:85px;
  top:61px;
  width:141px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u889 {
  position:absolute;
  left:146px;
  top:100px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:33px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:253px;
  top:72px;
  width:195px;
  height:33px;
}
#u892 {
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:631px;
  top:72px;
  width:202px;
  height:33px;
}
#u894 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u895 {
  position:absolute;
  left:849px;
  top:74px;
  width:30px;
  height:30px;
  font-size:20px;
  text-align:right;
}
#u896 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:50px;
  top:125px;
  width:177px;
  height:84px;
}
#u898 {
  position:absolute;
  left:2px;
  top:34px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u899 {
  position:absolute;
  left:95px;
  top:141px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:130px;
  top:173px;
  width:91px;
  height:24px;
}
#u902 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u903 {
  position:absolute;
  left:59px;
  top:137px;
  width:26px;
  height:27px;
}
#u904 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:2px;
}
#u905 {
  position:absolute;
  left:227px;
  top:150px;
  width:1030px;
  height:1px;
}
#u906 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  position:absolute;
  left:253px;
  top:133px;
  width:109px;
  height:16px;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u909 {
  position:absolute;
  left:1170px;
  top:133px;
  width:85px;
  height:16px;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  position:absolute;
  left:50px;
  top:371px;
  width:177px;
  height:42px;
}
#u912 {
  position:absolute;
  left:2px;
  top:13px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u913 {
  position:absolute;
  left:100px;
  top:381px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u915 {
  position:absolute;
  left:64px;
  top:379px;
  width:26px;
  height:27px;
}
#u916 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:50px;
  top:207px;
  width:177px;
  height:42px;
}
#u918 {
  position:absolute;
  left:2px;
  top:13px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u919 {
  position:absolute;
  left:100px;
  top:217px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u921 {
  position:absolute;
  left:64px;
  top:215px;
  width:26px;
  height:27px;
}
#u922 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  position:absolute;
  left:50px;
  top:248px;
  width:177px;
  height:42px;
}
#u924 {
  position:absolute;
  left:2px;
  top:13px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u925 {
  position:absolute;
  left:100px;
  top:260px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  position:absolute;
  left:50px;
  top:289px;
  width:177px;
  height:42px;
}
#u928 {
  position:absolute;
  left:2px;
  top:13px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u929 {
  position:absolute;
  left:100px;
  top:301px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:42px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u931 {
  position:absolute;
  left:50px;
  top:330px;
  width:177px;
  height:42px;
}
#u932 {
  position:absolute;
  left:2px;
  top:13px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u933 {
  position:absolute;
  left:100px;
  top:340px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  position:absolute;
  left:50px;
  top:412px;
  width:177px;
  height:42px;
}
#u936 {
  position:absolute;
  left:2px;
  top:13px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u937 {
  position:absolute;
  left:100px;
  top:422px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u939 {
  position:absolute;
  left:64px;
  top:420px;
  width:26px;
  height:27px;
}
#u940 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u941 {
  position:absolute;
  left:169px;
  top:217px;
  width:15px;
  height:15px;
}
#u942 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:2px;
}
#u943 {
  position:absolute;
  left:235px;
  top:216px;
  width:1022px;
  height:1px;
}
#u944 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u945 {
  position:absolute;
  left:246px;
  top:174px;
  width:112px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u946 {
  position:absolute;
  left:2px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:43px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:368px;
  top:173px;
  width:112px;
  height:43px;
}
#u948 {
  position:absolute;
  left:2px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u949 {
  position:absolute;
  left:244px;
  top:252px;
  width:85px;
  height:16px;
  color:#666666;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u951 {
  position:absolute;
  left:325px;
  top:246px;
  width:140px;
  height:27px;
  color:#999999;
  text-align:left;
}
#u952 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u953 {
  position:absolute;
  left:499px;
  top:252px;
  width:99px;
  height:16px;
  color:#666666;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u955 {
  position:absolute;
  left:595px;
  top:246px;
  width:140px;
  height:27px;
  color:#999999;
  text-align:left;
}
#u956 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u957 {
  position:absolute;
  left:767px;
  top:253px;
  width:85px;
  height:16px;
  color:#666666;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u959 {
  position:absolute;
  left:863px;
  top:247px;
  width:140px;
  height:27px;
  color:#999999;
  text-align:left;
}
#u960 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u961 {
  position:absolute;
  left:1037px;
  top:252px;
  width:71px;
  height:16px;
  color:#666666;
  text-align:right;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u963 {
  position:absolute;
  left:1104px;
  top:249px;
  width:67px;
  height:22px;
}
#u963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u963_input:disabled {
  color:grayText;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u964 {
  position:absolute;
  left:1198px;
  top:249px;
  width:51px;
  height:22px;
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u966 {
  position:absolute;
  left:246px;
  top:322px;
  width:883px;
  height:143px;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  text-align:left;
}
#u968 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u969 {
  position:absolute;
  left:50px;
  top:0px;
  width:70px;
  height:30px;
  text-align:left;
}
#u970 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u971 {
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:30px;
  text-align:left;
}
#u972 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u973 {
  position:absolute;
  left:220px;
  top:0px;
  width:40px;
  height:30px;
  text-align:left;
}
#u974 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u975 {
  position:absolute;
  left:260px;
  top:0px;
  width:120px;
  height:30px;
  text-align:left;
}
#u976 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u977 {
  position:absolute;
  left:380px;
  top:0px;
  width:100px;
  height:30px;
  text-align:left;
}
#u978 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u979 {
  position:absolute;
  left:480px;
  top:0px;
  width:80px;
  height:30px;
  text-align:left;
}
#u980 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u981 {
  position:absolute;
  left:560px;
  top:0px;
  width:88px;
  height:30px;
  text-align:left;
}
#u982 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u983 {
  position:absolute;
  left:648px;
  top:0px;
  width:92px;
  height:30px;
  text-align:left;
}
#u984 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u985 {
  position:absolute;
  left:740px;
  top:0px;
  width:138px;
  height:30px;
  text-align:left;
}
#u986 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u987 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:36px;
  text-align:left;
}
#u988 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u989 {
  position:absolute;
  left:50px;
  top:30px;
  width:70px;
  height:36px;
  color:#008000;
  text-align:left;
}
#u990 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u991 {
  position:absolute;
  left:120px;
  top:30px;
  width:100px;
  height:36px;
  text-align:left;
}
#u992 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u993 {
  position:absolute;
  left:220px;
  top:30px;
  width:40px;
  height:36px;
  text-align:left;
}
#u994 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u995 {
  position:absolute;
  left:260px;
  top:30px;
  width:120px;
  height:36px;
  text-align:left;
}
#u996 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u997 {
  position:absolute;
  left:380px;
  top:30px;
  width:100px;
  height:36px;
  text-align:left;
}
#u998 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u999 {
  position:absolute;
  left:480px;
  top:30px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1000 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1001 {
  position:absolute;
  left:560px;
  top:30px;
  width:88px;
  height:36px;
  text-align:left;
}
#u1002 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u1003 {
  position:absolute;
  left:648px;
  top:30px;
  width:92px;
  height:36px;
  text-align:left;
}
#u1004 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u1005 {
  position:absolute;
  left:740px;
  top:30px;
  width:138px;
  height:36px;
  color:#999999;
  text-align:left;
}
#u1006 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:66px;
  width:50px;
  height:36px;
  text-align:left;
}
#u1008 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u1009 {
  position:absolute;
  left:50px;
  top:66px;
  width:70px;
  height:36px;
  color:#008000;
  text-align:left;
}
#u1010 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1011 {
  position:absolute;
  left:120px;
  top:66px;
  width:100px;
  height:36px;
  text-align:left;
}
#u1012 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u1013 {
  position:absolute;
  left:220px;
  top:66px;
  width:40px;
  height:36px;
  text-align:left;
}
#u1014 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u1015 {
  position:absolute;
  left:260px;
  top:66px;
  width:120px;
  height:36px;
  text-align:left;
}
#u1016 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1017 {
  position:absolute;
  left:380px;
  top:66px;
  width:100px;
  height:36px;
  text-align:left;
}
#u1018 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1019 {
  position:absolute;
  left:480px;
  top:66px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1020 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1021 {
  position:absolute;
  left:560px;
  top:66px;
  width:88px;
  height:36px;
  text-align:left;
}
#u1022 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u1023 {
  position:absolute;
  left:648px;
  top:66px;
  width:92px;
  height:36px;
  text-align:left;
}
#u1024 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u1025 {
  position:absolute;
  left:740px;
  top:66px;
  width:138px;
  height:36px;
  color:#999999;
  text-align:left;
}
#u1026 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:102px;
  width:50px;
  height:36px;
  text-align:left;
}
#u1028 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u1029 {
  position:absolute;
  left:50px;
  top:102px;
  width:70px;
  height:36px;
  color:#008000;
  text-align:left;
}
#u1030 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1031 {
  position:absolute;
  left:120px;
  top:102px;
  width:100px;
  height:36px;
  text-align:left;
}
#u1032 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u1033 {
  position:absolute;
  left:220px;
  top:102px;
  width:40px;
  height:36px;
  text-align:left;
}
#u1034 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u1035 {
  position:absolute;
  left:260px;
  top:102px;
  width:120px;
  height:36px;
  text-align:left;
}
#u1036 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1037 {
  position:absolute;
  left:380px;
  top:102px;
  width:100px;
  height:36px;
  text-align:left;
}
#u1038 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u1039 {
  position:absolute;
  left:480px;
  top:102px;
  width:80px;
  height:36px;
  text-align:left;
}
#u1040 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1041 {
  position:absolute;
  left:560px;
  top:102px;
  width:88px;
  height:36px;
  text-align:left;
}
#u1042 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u1043 {
  position:absolute;
  left:648px;
  top:102px;
  width:92px;
  height:36px;
  text-align:left;
}
#u1044 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u1045 {
  position:absolute;
  left:740px;
  top:102px;
  width:138px;
  height:36px;
  color:#999999;
  text-align:left;
}
#u1046 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u1047 {
  position:absolute;
  left:257px;
  top:330px;
  width:27px;
  height:16px;
}
#u1048 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1049 {
  position:absolute;
  left:257px;
  top:364px;
  width:27px;
  height:16px;
}
#u1050 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  word-wrap:break-word;
}
#u1049_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1051 {
  position:absolute;
  left:257px;
  top:401px;
  width:27px;
  height:16px;
}
#u1052 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  word-wrap:break-word;
}
#u1051_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1053 {
  position:absolute;
  left:257px;
  top:431px;
  width:27px;
  height:16px;
}
#u1054 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  word-wrap:break-word;
}
#u1053_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1055 {
  position:absolute;
  left:246px;
  top:284px;
  width:92px;
  height:28px;
  color:#FFFFFF;
}
#u1056 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1057 {
  position:absolute;
  left:661px;
  top:480px;
  width:191px;
  height:16px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1059 {
  position:absolute;
  left:854px;
  top:475px;
  width:78px;
  height:26px;
  text-align:left;
}
#u1060 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1061 {
  position:absolute;
  left:917px;
  top:483px;
  width:10px;
  height:10px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:937px;
  top:475px;
  width:41px;
  height:26px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1065 {
  position:absolute;
  left:988px;
  top:475px;
  width:56px;
  height:26px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1067 {
  position:absolute;
  left:1054px;
  top:475px;
  width:27px;
  height:26px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069 {
  position:absolute;
  left:1091px;
  top:475px;
  width:56px;
  height:26px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071 {
  position:absolute;
  left:1157px;
  top:475px;
  width:56px;
  height:26px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
