body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:558px;
}
#u284 {
  position:absolute;
  left:6px;
  top:6px;
  width:1322px;
  height:558px;
}
#u285 {
  position:absolute;
  left:2px;
  top:271px;
  width:1318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u286 {
  position:absolute;
  left:413px;
  top:206px;
  width:542px;
  height:32px;
  color:#FF0000;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  white-space:nowrap;
}
