body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:78px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  position:absolute;
  left:23px;
  top:14px;
  width:1097px;
  height:78px;
}
#u648 {
  position:absolute;
  left:2px;
  top:31px;
  width:1093px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:38px;
}
#u649 {
  position:absolute;
  left:38px;
  top:34px;
  width:400px;
  height:38px;
}
#u650 {
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u651 {
  position:absolute;
  left:976px;
  top:39px;
  width:30px;
  height:30px;
}
#u652 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u653 {
  position:absolute;
  left:1078px;
  top:39px;
  width:30px;
  height:30px;
}
#u654 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u655 {
  position:absolute;
  left:1030px;
  top:39px;
  width:24px;
  height:30px;
}
#u656 {
  position:absolute;
  left:2px;
  top:7px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:2px;
}
#u657 {
  position:absolute;
  left:206px;
  top:122px;
  width:908px;
  height:1px;
}
#u658 {
  position:absolute;
  left:2px;
  top:-8px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u659 {
  position:absolute;
  left:217px;
  top:102px;
  width:558px;
  height:16px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  white-space:nowrap;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:2px;
}
#u661 {
  position:absolute;
  left:206px;
  top:122px;
  width:908px;
  height:1px;
}
#u662 {
  position:absolute;
  left:2px;
  top:-8px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:563px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u663 {
  position:absolute;
  left:23px;
  top:91px;
  width:173px;
  height:563px;
}
#u664 {
  position:absolute;
  left:2px;
  top:274px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  position:absolute;
  left:23px;
  top:309px;
  width:173px;
  height:38px;
}
#u666 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u667 {
  position:absolute;
  left:23px;
  top:91px;
  width:173px;
  height:170px;
}
#u668 {
  position:absolute;
  left:2px;
  top:77px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:147px;
}
#u669 {
  position:absolute;
  left:32px;
  top:102px;
  width:155px;
  height:147px;
}
#u670 {
  position:absolute;
  left:2px;
  top:66px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u671 {
  position:absolute;
  left:23px;
  top:271px;
  width:173px;
  height:38px;
}
#u672 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u673 {
  position:absolute;
  left:35px;
  top:281px;
  width:20px;
  height:20px;
}
#u674 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  position:absolute;
  left:65px;
  top:281px;
  width:57px;
  height:16px;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u677 {
  position:absolute;
  left:35px;
  top:318px;
  width:20px;
  height:20px;
}
#u678 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u679 {
  position:absolute;
  left:65px;
  top:318px;
  width:57px;
  height:16px;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u681 {
  position:absolute;
  left:23px;
  top:347px;
  width:173px;
  height:38px;
}
#u682 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u683 {
  position:absolute;
  left:35px;
  top:357px;
  width:20px;
  height:20px;
}
#u684 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u685 {
  position:absolute;
  left:65px;
  top:357px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u687 {
  position:absolute;
  left:23px;
  top:422px;
  width:173px;
  height:38px;
  text-align:left;
}
#u688 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u689 {
  position:absolute;
  left:23px;
  top:385px;
  width:173px;
  height:38px;
  text-align:left;
}
#u690 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u691 {
  position:absolute;
  left:23px;
  top:459px;
  width:173px;
  height:38px;
  text-align:left;
}
#u692 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u693 {
  position:absolute;
  left:23px;
  top:496px;
  width:173px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u694 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  word-wrap:break-word;
}
#u695 {
  position:absolute;
  left:217px;
  top:189px;
  width:782px;
  height:125px;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u697 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u698 {
  position:absolute;
  left:40px;
  top:0px;
  width:250px;
  height:30px;
  text-align:left;
}
#u699 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u700 {
  position:absolute;
  left:290px;
  top:0px;
  width:150px;
  height:30px;
  text-align:left;
}
#u701 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u702 {
  position:absolute;
  left:440px;
  top:0px;
  width:125px;
  height:30px;
  text-align:left;
}
#u703 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
}
#u704 {
  position:absolute;
  left:565px;
  top:0px;
  width:212px;
  height:30px;
  text-align:left;
}
#u705 {
  position:absolute;
  left:2px;
  top:7px;
  width:208px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u706 {
  position:absolute;
  left:0px;
  top:30px;
  width:40px;
  height:30px;
}
#u707 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u708 {
  position:absolute;
  left:40px;
  top:30px;
  width:250px;
  height:30px;
  text-align:left;
}
#u709 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u710 {
  position:absolute;
  left:290px;
  top:30px;
  width:150px;
  height:30px;
  text-align:left;
}
#u711 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u712 {
  position:absolute;
  left:440px;
  top:30px;
  width:125px;
  height:30px;
  text-align:left;
}
#u713 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
}
#u714 {
  position:absolute;
  left:565px;
  top:30px;
  width:212px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u715 {
  position:absolute;
  left:2px;
  top:7px;
  width:208px;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u716 {
  position:absolute;
  left:0px;
  top:60px;
  width:40px;
  height:30px;
}
#u717 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u718 {
  position:absolute;
  left:40px;
  top:60px;
  width:250px;
  height:30px;
  text-align:left;
}
#u719 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u720 {
  position:absolute;
  left:290px;
  top:60px;
  width:150px;
  height:30px;
  text-align:left;
}
#u721 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u722 {
  position:absolute;
  left:440px;
  top:60px;
  width:125px;
  height:30px;
  text-align:left;
}
#u723 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
}
#u724 {
  position:absolute;
  left:565px;
  top:60px;
  width:212px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u725 {
  position:absolute;
  left:2px;
  top:7px;
  width:208px;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u726 {
  position:absolute;
  left:0px;
  top:90px;
  width:40px;
  height:30px;
}
#u727 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u728 {
  position:absolute;
  left:40px;
  top:90px;
  width:250px;
  height:30px;
  text-align:left;
}
#u729 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u730 {
  position:absolute;
  left:290px;
  top:90px;
  width:150px;
  height:30px;
  text-align:left;
}
#u731 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u732 {
  position:absolute;
  left:440px;
  top:90px;
  width:125px;
  height:30px;
  text-align:left;
}
#u733 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
}
#u734 {
  position:absolute;
  left:565px;
  top:90px;
  width:212px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u735 {
  position:absolute;
  left:2px;
  top:7px;
  width:208px;
  word-wrap:break-word;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  position:absolute;
  left:490px;
  top:359px;
  width:191px;
  height:16px;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u738 {
  position:absolute;
  left:683px;
  top:354px;
  width:78px;
  height:26px;
  text-align:left;
}
#u739 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u740 {
  position:absolute;
  left:746px;
  top:362px;
  width:10px;
  height:10px;
}
#u741 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u742 {
  position:absolute;
  left:766px;
  top:354px;
  width:41px;
  height:26px;
}
#u743 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u744 {
  position:absolute;
  left:817px;
  top:354px;
  width:56px;
  height:26px;
}
#u745 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  position:absolute;
  left:883px;
  top:354px;
  width:27px;
  height:26px;
}
#u747 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  word-wrap:break-word;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:920px;
  top:354px;
  width:56px;
  height:26px;
}
#u749 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u750 {
  position:absolute;
  left:986px;
  top:354px;
  width:56px;
  height:26px;
}
#u751 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u752 {
  position:absolute;
  left:23px;
  top:533px;
  width:173px;
  height:38px;
  text-align:left;
}
#u753 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u754 {
  position:absolute;
  left:219px;
  top:150px;
  width:106px;
  height:29px;
  color:#FFFFFF;
}
#u755 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
