body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:721px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u277 {
  position:absolute;
  left:38px;
  top:21px;
  width:688px;
  height:195px;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:30px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:30px;
}
#u279 {
  position:absolute;
  left:2px;
  top:7px;
  width:679px;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:160px;
}
#u280 {
  position:absolute;
  left:0px;
  top:30px;
  width:683px;
  height:160px;
  font-size:14px;
  text-align:left;
}
#u281 {
  position:absolute;
  left:2px;
  top:16px;
  width:679px;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u282 {
  position:absolute;
  left:38px;
  top:221px;
  width:683px;
  height:272px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  word-wrap:break-word;
}
