body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1291px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1271px;
  height:662px;
}
#u1128 {
  position:absolute;
  left:20px;
  top:17px;
  width:1271px;
  height:662px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:323px;
  width:1267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1130 {
  position:absolute;
  left:345px;
  top:509px;
  width:92px;
  height:28px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1132 {
  position:absolute;
  left:506px;
  top:515px;
  width:155px;
  height:16px;
}
#u1133 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1134_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:93px;
  height:21px;
}
#u1134p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:84px;
  height:1px;
}
#u1134p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:95px;
  height:21px;
}
#u1134p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1134p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1134p002 {
  position:absolute;
  left:81px;
  top:0px;
  width:2px;
  height:1px;
}
#u1134p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u1134.compound {
  width:0px;
  height:0px;
}
#u1134 {
  position:absolute;
  left:424px;
  top:523px;
  width:82px;
  height:1px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:-8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
