body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:603px;
}
#u979 {
  position:absolute;
  left:-47px;
  top:-32px;
  width:1199px;
  height:603px;
}
#u980 {
  position:absolute;
  left:2px;
  top:294px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:56px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  position:absolute;
  left:144px;
  top:274px;
  width:189px;
  height:56px;
}
#u982 {
  position:absolute;
  left:2px;
  top:20px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983 {
  position:absolute;
  left:161px;
  top:291px;
  width:172px;
  height:30px;
}
#u983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u983_input:disabled {
  color:grayText;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:161px;
  top:613px;
  width:235px;
  height:16px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u986_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:303px;
}
#u986p000 {
  position:absolute;
  left:-146px;
  top:145px;
  width:293px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u986p000_img {
  position:absolute;
  left:-15px;
  top:-6px;
  width:313px;
  height:13px;
}
#u986p001 {
  position:absolute;
  left:-11px;
  top:-9px;
  width:22px;
  height:22px;
}
#u986p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u986p002 {
  position:absolute;
  left:0px;
  top:291px;
  width:1px;
  height:2px;
}
#u986p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:13px;
}
#u986.compound {
  width:0px;
  height:0px;
}
#u986 {
  position:absolute;
  left:173px;
  top:321px;
  width:1px;
  height:292px;
}
#u987 {
  position:absolute;
  left:2px;
  top:138px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u988 {
  position:absolute;
  left:161px;
  top:411px;
  width:75px;
  height:16px;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:536px;
  top:411px;
  width:85px;
  height:16px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  position:absolute;
  left:670px;
  top:411px;
  width:121px;
  height:16px;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994 {
  position:absolute;
  left:920px;
  top:411px;
  width:25px;
  height:16px;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
