body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1542px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:475px;
}
#u1136 {
  position:absolute;
  left:29px;
  top:43px;
  width:855px;
  height:475px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:230px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1138 {
  position:absolute;
  left:915px;
  top:349px;
  width:627px;
  height:16px;
}
#u1139 {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  white-space:nowrap;
}
#u1140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1140 {
  position:absolute;
  left:915px;
  top:388px;
  width:443px;
  height:16px;
}
#u1141 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  white-space:nowrap;
}
#u1142_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:443px;
  height:21px;
}
#u1142p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:434px;
  height:1px;
}
#u1142p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:445px;
  height:21px;
}
#u1142p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1142p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1142p002 {
  position:absolute;
  left:431px;
  top:0px;
  width:2px;
  height:1px;
}
#u1142p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u1142.compound {
  width:0px;
  height:0px;
}
#u1142 {
  position:absolute;
  left:483px;
  top:357px;
  width:432px;
  height:1px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:-8px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
