body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:475px;
}
#u1605 {
  position:absolute;
  left:29px;
  top:43px;
  width:855px;
  height:475px;
}
#u1606 {
  position:absolute;
  left:2px;
  top:230px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1607 {
  position:absolute;
  left:915px;
  top:349px;
  width:479px;
  height:32px;
}
#u1608 {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  word-wrap:break-word;
}
#u1609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1609 {
  position:absolute;
  left:915px;
  top:399px;
  width:479px;
  height:32px;
}
#u1610 {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  word-wrap:break-word;
}
#u1611_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:443px;
  height:21px;
}
#u1611p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:434px;
  height:1px;
}
#u1611p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:445px;
  height:21px;
}
#u1611p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1611p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1611p002 {
  position:absolute;
  left:431px;
  top:0px;
  width:2px;
  height:1px;
}
#u1611p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u1611.compound {
  width:0px;
  height:0px;
}
#u1611 {
  position:absolute;
  left:483px;
  top:357px;
  width:432px;
  height:1px;
}
#u1612 {
  position:absolute;
  left:2px;
  top:-8px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
